:root {
  --background-light: #ffffff;
  --text-light: #000000;

  --background-dark: #121212;
  --text-dark: #ffffff;
}

[data-theme="light"] {
  --background: var(--background-light);
  --text: var(--text-light);
}

[data-theme="dark"] {
  --background: var(--background-dark);
  --text: var(--text-dark);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .light {
    --background: #ffffff;
    --text: #000000;
  }
  
  .dark {
    --background: #121212;
    --text: #ffffff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: var(--background);
  }
  
  button {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-card {
    margin: 1rem;
    width: auto;
    height: auto;
    text-align: center;
  }
  